# ===== Java =====
*.class
*.jar
*.war
*.log
bin/
out/
target/
build/
module-info.java

# ===== IntelliJ IDEA =====
.idea/
*.iml
*.ipr
*.iws

# ===== Eclipse =====
.classpath
.project
.settings/
.metadata/

# ===== VS Code =====
.vscode/

# ===== macOS / Windows =====
.DS_Store
Thumbs.db
